$sizes: (sm: 0px, lg: 540px);
$gutter: 2%;

.row {
  display: flex;
  flex-wrap: wrap;
}

@each $size, $val in $sizes {
  @media (min-width: $val) {
    .col {
      float: left;
      min-height: 1px;
      margin: 0 ($gutter / 2) 0 ($gutter / 2);
    }

    @for $i from 1 through 12 {
      .col-#{$size}-#{$i} {
        @extend .col;
        flex: 0 1 (100% * $i / 12 - $gutter);
      }
    }

    .col-#{$size}-grow {
      @extend .col;
      flex: 1 0;
    }

    .col-#{$size}-squeeze {
      @extend .col;
      flex: 0 1;
    }
  }
}

.valign-center {
  align-self: center;
}

