$text-color: #ddd;

@mixin glow($size, $color) {
  $all: ();
  @for $i from 1 through 8 {
    $all: append($all, 0 0 ($i*$i*$size) + px $color, comma);
  }
  @warn $all;
  text-shadow: $all;
}

body {
  color: $text-color;
  font-size: 18px;
  font-family: 'Titillium Web';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron' !important;
  @include glow(.7, $primary-accent);
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, strong {
  color: white;

  a, a:visited, a:active, a:hover {
    color: white;
  }
}

h1 { font-size: 3.5em; }
h2 { font-size: 2em; }

a, a:visited, a:active, a:hover {
  color: $secondary-accent;
}
