@import 'theme';

body {
  color: $text-color;
  font-size: 18px;
  font-family: $font-body, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $font-title, serif !important;

  &.center {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  a {
    font-weight: normal;
    color: white;
  }
}

span.primary-accent {
  color: $accent-primary;
}

span.secondary-accent {
  color: $accent-secondary;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $accent-secondary;

  &:active {
    color: inherit;
  }

  &:visited {
    color: lighten($accent-secondary, 30%)
  }

  &:hover {
    color: darken($accent-secondary, 20%);
  }
}

h1 {
  font-size: 3.5em;
  @media screen and (max-width: $sm) {
    font-size: 10vw;
  }
}
h2 { font-size: 2em; }

h1 span.accent, h2 span.accent, h3 span.accent, h4 span.accent, h5 span.accent, h6 span.accent {
  color: $accent-secondary;
}

code {
  color: $accent-secondary;
  background-color: $background-color;
  padding: .25rem;
}
