@import 'theme';
@import 'forms';
@import 'typography';
@import 'table';
@import 'grid';
@import 'trigonometry';
@import 'navigation';

html {
  min-height: 100vh;
}

body {
  margin: 0;
  //background-color: $background-base;
  background: radial-gradient(ellipse at bottom, #121050 0%, #181820 100%);
  min-height: 100%;
}

canvas#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div#navigation, div#content {
  display: block;

  margin: 0.75rem;
  padding: 1rem;

  @media screen and (min-width: $md) {
    margin: 1.4rem;
    padding: 1rem 2rem;
  }

  box-sizing: border-box;
  background-color: $background-color;
}

div#content {
  min-height: calc(100vh - 2ex - 2rem - 3rem);


  @media screen and (min-width: $md) {
    min-height: calc(100vh - 2ex - 2rem - 4.8rem);
  }
}

/* Large desktops. */
@media screen and (min-width: $lg) { }

/* Medium desktops. */
@media screen and (min-width: $md) and (max-width: $lg - 1px) {}

/* Small mode */
@media screen and (max-width: $md - 1px) {
  div#wrapper { display: block; }
}

/* Tablets. */
@media screen and (min-width: $sm) and (max-width: $md - 1px) {
  nav { display: flex; justify-content: center; }
  #logo { height: 410px; }
  #links { margin-right: -1rem; margin-top: 1rem; margin-bottom: 1rem; }
  @for $i from 1 through 8 {
    #links .item:nth-child(#{$i}) {
      padding-left: 4.1rem * sin(($i - 1)/7 * pi());
    }
  }
}

/* Phones. */
@media screen and (max-width: $sm - 1px) {
  #logo { width: 200px; margin-bottom: 2rem; }
  #nav .item { text-align: center; }
}
