@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Orbitron);

$lg: 1200px;
$md: 992px + 50px;  // Looks nice
$sm: 768px;

$background-color: rgba(.2, .2, .25, .5);
$primary-accent: #e61587;
$secondary-accent: #bf00ff;
$states: ( error: #ff0101, success: #32cd32 );

@import 'forms';
@import 'typography';
@import 'table';
@import 'grid';
@import 'trigonometry';

body {
  margin: 0;
  //background-color: $background-base;
  background: radial-gradient(ellipse at bottom, #121050 0%, #181820 100%);
}

div#wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  box-sizing: border-box;
  z-index: 0;
}

canvas#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div#content, div#nav {
  display: block;
  padding: 2rem;
  margin: 0.5rem;
  box-sizing: border-box;
  background-color: $background-color;
}

div#nav {
  overflow-y: auto;
  min-width: min-content;

  .item {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 0;
  }

  .item ~ .item {
    margin-top: 1.5rem;
  }

}

div#content {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

nav a {
  text-decoration: none;
}

/* Large desktops. */
@media screen and (min-width: $lg) { }

/* Medium desktops. */
@media screen and (min-width: $md) and (max-width: $lg - 1px) {}

/* Small mode */
@media screen and (max-width: $md - 1px) {
  div#wrapper { display: block; }
  div#content { margin: 1rem 0.5rem; }
}

/* Tablets. */
@media screen and (min-width: $sm) and (max-width: $md - 1px) {
  nav { display: flex; justify-content: center; }
  #logo { height: 410px; }
  #links { margin-right: -1rem; margin-top: 1rem; margin-bottom: 1rem; }
  @for $i from 1 through 8 {
    #links .item:nth-child(#{$i}) {
      padding-left: 4.1rem * sin(($i - 1)/7 * pi());
    }
  }
}

/* Phones. */
@media screen and (max-width: $sm - 1px) {
  #logo { width: 200px; margin-bottom: 2rem; }
  #nav .item { text-align: center; }
}
