@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Orbitron);

$background-color: rgba(.2, .2, .25, .5);
$primary-accent: #00d9e3;
$secondary-accent: #ffca00;
$states: ( error: #ff0101, success: #32cd32 );

body {
  margin: 0;

  overflow: hidden;
}

div#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: url('/assets/images/background.jpg');
  background-size: cover;

  filter: blur(3px);
}

div#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  padding: 1.5em;
  box-sizing: border-box;
}

div#main {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  margin: 0;

  display: flex;
}

div#content, div#nav {
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
  background-color: $background-color;
}

div#content {
  overflow-y: scroll;
}

div#nav {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: min-content;
}

nav a {
  text-decoration: none;
}

@import 'forms';
@import 'grid';
@import 'typography';
@import 'table';
