<h1><span class="primary-accent">&Aring;ngstrom</span> <span class="secondary-accent">CTF</span></h1>

<p>Welcome to &aring;ngstromCTF, a capture-the-flag (CTF) competition hosted and organized entirely by students at Montgomery Blair High School!
    CTF cybersecurity competitions have become an increasingly popular way for students to learn more about cybersecurity and develop and refine
    their hacking skills. These competitions are designed to <strong>educate and inspire high school students through interactive hacking challenges</strong>.</p>

<img id="splash" src="assets/images/splash.svg" width="900">

<h2 class="center" *ngIf="status.team && status.started"><a routerLink="/problems">Go to Problems!</a></h2>
<h2 class="center" *ngIf="status.team && !status.user"><a routerLink="/account">Find a Team!</a></h2>
<h2 class="center">February 23 - 28, 2018 @ 8:00 PM EST</h2>
<h2 class="center" *ngIf="!status.user"><a routerLink="/signup">Sign Up!</a></h2>
<h2 class="no-glow center" *ngIf="!status.started">Until Start:</h2>
<h2 class="no-glow center" *ngIf="status.started && !status.ended">Time Remaining:</h2>

<div id="clock-wrapper" *ngIf="!status.ended">
  <canvas width="1" height="1" id="clock"></canvas>
</div>

<p>The first &aring;ngstromCTF took place April 8-17, 2016. It was a phenomenal success, with almost 500 teams participating and submitting thousands of problem solutions. The second annual competition took place April 22-29, 2017, and almost 700 teams participated from 79 countries and 36 U.S. states. Now in our third year, our chief goal is to expand our competition to an even wider audience and make our competition <strong>as accessible as possible</strong> to students with <strong>little to no background knowledge in hacking and cybersecurity</strong>.</p>

<p>Students will compete in <strong>teams of up to five members</strong>. Points are given for answering each question
    (entering the flag). Prizes will be awarded to the top-scoring U.S. high-school teams. &aring;ngstromCTF is intended both for
    <strong>beginners and experienced CTFers</strong> and consists of questions ranging from simple to very
    difficult in various categories.</p>

<p>There are <strong>six categories of problems</strong>:</p>
<ul>
	<li><strong>Binary Exploitation</strong>: Apply a range of skills to exploit security vulnerabilities in programs, including buffer overflows, arithmetic overflows, format string bugs, and use-after-frees. Force these binaries to run your own code and read the flag!</li>
	<li><strong>Cryptography</strong>: Crack codes and ciphers, ranging from the simple (Caesar cipher, Vigenère cipher) to the complex (RSA, elliptic curves). Do cryptanalysis, use deduction, and get the flags!</li>
	<li><strong>Forensics</strong>: Explore the art of digital forensics, which is all about uncovering hidden data within a large swath of information. Solve challenging puzzles in areas such as stenography, memory forensics, data recovery, and system examination. You can find the flag if you look carefully enough!</li>
	<li><strong>Miscellaneous</strong>: Apply math, computer science, and logic to problems that don't fit into a rigorous category. Use what ever it takes to get the flag!</li>
	<li><strong>Reverse Engineering</strong>: Examine programs given to you and find out their code, from simple Java apps to more difficult ELF binaries. Figure out their inner workings and use the information you gather to find the flag!</li>
	<li><strong>Web Exploitation</strong>: Find various vulnerabilities in web pages, and use them to get access to areas you shouldn't. This topic covers a wide range of vulnerabilities, including SQL injection and mistakes in using scripting languages. Use your new-found access to recover the flag!</li>
</ul>
