@import url('https://fonts.googleapis.com/css?family=Candal|Mr+Dafoe');
@import '../styles/theme';

img#splash {
  display: block;
  margin: 0 auto;
  text-align: center;

  width: 80vw;

  @media screen and (min-width: $md) {
    width: 40vw;
  }
}

div#clock-wrapper {
  width: 70vw;
  margin: 0 auto;
}
