<h1>Sponsors</h1>

<div class="row">
  <div class="col-lg-1 valign-center"><img src="/assets/images/sponsors/digitalocean.png" style="width: 100%;"></div>
  <div class="col-lg-11">
    <h3>DigitalOcean</h3>
    DigitalOcean is a cloud infrastructure and hosting provider that has generously agreed to provide us with thousands of dollars in total credit for the winning teams. We also
    proudly host our servers using their platform.
  </div>
</div>

<div class="row" style="padding-top: 1em;;">
  <div class="col-lg-1 valign-center"><img src="/assets/images/sponsors/hyphen.bmp" style="width: 100%;"></div>
  <div class="col-lg-11">
    <h3>Hyphen Group</h3>
    The Hyphen Group provides business analytics and other solutions for healthcare applications. Hyphen's president, Ms. Rebecca Leung, kindly helped us find sponsors and do outreach to all our contestants.
  </div>
</div>

<br/>

<div class="row">
  <div class="col-lg-1 valign-center"><img src="/assets/images/sponsors/gmu.jpg" style="width: 100%;"></div>
  <div class="col-lg-11">
    <h3>Academic Partner: George Mason</h3>
    We would like to thank George Mason University for their assistance and guidance with marketing and outreach both to participants and sponsoring companies and for general advisory support.
  </div>
</div>
