#countdowns {
  padding: 0 10%;
  display: flex;
}

.countdown-box {
  flex: 1;
  text-align: center;
  flex-flow: wrap row;
}

.countdown-images {
  display: flex;
  justify-content: center;
  width: 100%;
}

.countdown-wrapper {
  width: 50%;
  position: relative;

  &:first-child {
    margin-right: -10%;
  }

  &:last-child {
    margin-left: -10%;
  }

  &::before {
    position: absolute;
    content: '';
    background: url('/static/images/countdown/mask.svg');
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.countdown-image {
  width: 100%;
}