.card-header > .problem-info {
  flex: 1;
}

#display-toggle {
  margin-left: auto;
  display: block;
  margin-bottom: 1em;
}

@import 'theme';

@each $category, $color in $categories {
  .card-#{$category} {
    background-color: $color;
    display: flex;
  }
}
