@import '../../node_modules/bootstrap/scss/_variables';

$body-bg: #020210;
$card-bg: #040404;
$nav-tabs-active-link-hover-bg: $card-bg;
$card-border-color: $gray-dark;
$font-family-base: 'Titillium Web' sans-serif;

$categories: (crypto: blue, forensics: green, binary: orange, re: red, misc: brown, web: purple, master: magenta);

@each $category, $color in $categories {
  .card-#{$category} {
    background-color: $color;
    display: flex;
  }
}