@import '../../node_modules/bootstrap/scss/_variables';
@import '../../node_modules/font-awesome/scss/font-awesome';

/* Some global configuration */
$body-bg: #020210;
$card-bg: #040404;
$font-family-base: 'Titillium Web', sans-serif;

/* Configuration for specific components */
$nav-tabs-active-link-hover-bg: $card-bg;

$card-border-color: $gray-dark;

$table-bg-accent: lighten($body-bg, 3);
$table-bg-hover: lighten($body-bg, 6);

/* Problem category themes */
$colors: (crypto: #46E4BC, forensics: #27F65A, binary: #0069FF, re: #FF3B2F, misc: #E8C600, web: #9D00FF, master: #FF24A4);
$icons: (crypto: 'lock', forensics: 'search', binary: 'wrench', re: 'cogs', misc: 'star', web: 'globe', master: 'flag');

@each $category, $color in $colors {
  .card-#{$category} {
    background-color: $color;
    display: flex;
  }
}

@each $category, $icon in $icons {
  .icon-#{$category} {
    @extend .fa-#{$icon};
  }
}