@import '../../node_modules/bootstrap/scss/_variables';

/* Some global configuration */
$body-bg: #020210;
$card-bg: #040404;
$font-family-base: 'Titillium Web', sans-serif;

/* Configuration for specific components */
$nav-tabs-active-link-hover-bg: $card-bg;

$card-border-color: $gray-dark;

$table-bg-accent: lighten($body-bg, 3);
$table-bg-hover: lighten($body-bg, 6);

/* Problem category colors */
$categories: (crypto: #46E4BC, forensics: #27CD83, binary: #0069FF, re: #FF3B2F, misc: #FFFF00, web: #9D00FF, master: #FF24A4);

@each $category, $color in $categories {
  .card-#{$category} {
    background-color: $color;
    display: flex;
  }
}
