<form [formGroup]="form" (ngSubmit)="submit(form.value)">
  <div *ngIf="failed" class="form-error">Login failed. Username and/or password is incorrect.</div>

    <extended-input [label]="'Username'" [errors]="form.controls['username'].errors" [touched]="form.controls['username'].touched">
        <input type="text" class="form-control" placeholder="my_username" [formControl]="form.controls['username']">
    </extended-input>

    <extended-input [label]="'Password'" [errors]="form.controls['password'].errors" [touched]="form.controls['password'].touched">
        <input type="password" class="form-control" placeholder="my_password" [formControl]="form.controls['password']">
    </extended-input>
    <br/>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
    </div>
</form>
