<header>
    <nav class="navbar navbar-dark bg-inverse">
        <button class="navbar-toggler hidden-lg-up" type="button" (click)="navbarCollapsed = !navbarCollapsed"></button>

        <div class="navbar-toggleable-md" [ngbCollapse]="navbarCollapsed">
            <a class="navbar-brand nav-link" routerLink="/">angstromCTF</a>

            <ul class="nav navbar-nav float-md-left">
                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/scoreboard">Scoreboard</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/problems">Problems</a></li>

                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle>Archives</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item">2016</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav float-md-right">
                <div *ngIf="status.user">
                    <li class="nav-item"><a class="nav-link" routerLink="/account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/logout">Logout</a></li>
                </div>

                <div *ngIf="!status.user">
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/signup">Signup</a></li>
                </div>
            </ul>
        </div>
    </nav>
</header>

<div id="content" class="container text-white">
    <router-outlet></router-outlet>
</div>

<footer class="footer bg-inverse text-muted">
    Copyright &copy; 2015-16 &aring;ngstromCTF. <br/>

    Powered by:
    <a target="_blank" class="logo-link" href="https://angular.io/"><img class="logo" src="static/images/angular.svg"/></a>
    <a target="_blank" class="logo-link" href="https://v4-alpha.getbootstrap.com/"><img class="logo" src="static/images/bootstrap.svg"/></a>
    <a target="_blank" class="logo-link" href="https://www.djangoproject.com/"><img class="logo" src="static/images/django.svg"/></a>
    <a target="_blank" class="logo-link" href="https://www.digitalocean.com/"><img class="logo" src="static/images/digitalocean.svg"/></a>
</footer>