<header>
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" routerLink="/">&aring;CTF</a>

        <ul class="nav navbar-nav float-md-left">
            <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/scoreboard">Scoreboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/problems">Problems</a></li>
        </ul>

        <ul class="nav navbar-nav float-md-right">
            <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link">Signup</a></li>
        </ul>
    </nav>
</header>

<div id="content" class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    Copyright &copy; 2015-16 &aring;ngstromCTF. <br/>

    Powered by:
    <a target="_blank" class="logo-link" href="https://angular.io/"><img class="logo" src="static/images/angular.svg"/></a>
    <a target="_blank" class="logo-link" href="https://v4-alpha.getbootstrap.com/"><img class="logo" src="static/images/bootstrap.svg"/></a>
    <a target="_blank" class="logo-link" href="https://www.djangoproject.com/"><img class="logo" src="static/images/django.svg"/></a>
    <a target="_blank" class="logo-link" href="https://www.digitalocean.com/"><img class="logo" src="static/images/digitalocean.svg"/></a>
</footer>