<!--<nav class="navbar navbar-fixed-top navbar-light bg-faded">-->
    <!--<a class="navbar-brand" routerLink="/">&aring;CTF</a>-->

    <!--<ul class="nav navbar-nav float-md-left">-->
        <!--<li class="nav-item"><a class="nav-link">About</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" routerLink="/scoreboard">Scoreboard</a></li>-->
    <!--</ul>-->

    <!--<ul class="nav navbar-nav float-md-right">-->
        <!--<li class="nav-item"><a class="nav-link">Login</a></li>-->
        <!--<li class="nav-item"><a class="nav-link">Signup</a></li>-->
    <!--</ul>-->
<!--</nav>-->

<!--<div class="container theme-showcase block push" role="main" id="main-container">-->
    <!--<router-outlet></router-outlet>-->
<!--</div>-->

<header>
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" routerLink="/">&aring;CTF</a>

        <ul class="nav navbar-nav float-md-left">
            <li class="nav-item"><a class="nav-link">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/scoreboard">Scoreboard</a></li>
        </ul>

        <ul class="nav navbar-nav float-md-right">
            <li class="nav-item"><a class="nav-link">Login</a></li>
            <li class="nav-item"><a class="nav-link">Signup</a></li>
        </ul>
    </nav>
</header>

<div id="content" class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    Copyright &copy; 2015-16 &aring;ngstromCTF. <br/>

    Powered by:
    <a target="_blank" class="logo-link" href="https://angular.io/"><img class="logo" src="static/images/angular.svg"/></a>
    <a target="_blank" class="logo-link" href="https://v4-alpha.getbootstrap.com/"><img class="logo" src="static/images/bootstrap.svg"/></a>
    <a target="_blank" class="logo-link" href="https://www.djangoproject.com/"><img class="logo" src="static/images/django.svg"/></a>
    <a target="_blank" class="logo-link" href="https://www.digitalocean.com/"><img class="logo" src="static/images/digitalocean.svg"/></a>

    <br/>

    Written with <span id="heart">♥</span> by students at Montgomery Blair High School.
</footer>

<!--Copyright &copy; 2015-16 &aring;ngstromCTF. Platform source is on <a href="https://github.com/angstromctf/djangoctf" target="_blank">GitHub</a>.-->
<!--<br/> Powered by <a href="https://djangoproject.com" target="_blank">Django</a> and hosted on-->
<!--<a href="https://digitalocean.com" target="_blank">DigitalOcean</a>.-->
<!--<br/> Written with <span style="color: #800;">&#10084;</span> by students at <a href="http://mbhs.edu" target="_blank">Montgomery Blair High School</a>.-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->