<link rel="stylesheet" href="/static/css/problems.css">

<h1>Problems</h1>
<br/>

<div class="card card-inverse" *ngFor="let problem of problems">
    <div class="card-header card-{{ problem.category }}" (click)="problem.collapsed = !problem.collapsed">
        <div class="problem-info text-xs-left">
            <span class="fa icon-{{ problem.category }}"></span> &nbsp;
            <span [innerHtml]="problem.title"></span>
        </div>
        <div class="problem-info text-xs-right">
            ({{ problem.category }}, {{ problem.value }})
            <span *ngIf="problem.solved"><i class="fa fa-check"></i></span>
            <span *ngIf="status.user && !problem.solved"><i class="fa fa-times"></i></span>
        </div>
    </div>

    <div class="card-block" [ngbCollapse]="problem.collapsed">
        <ngb-tabset>
            <ngb-tab title="Problem">
                <template ngbTabContent>
                    <br/>
                    <div [innerHtml]="problem.text"></div>

                    <form *ngIf="status.user && !problem.solved" (ngSubmit)="submit(problem)">
                        <br/>
                        <div class="input-group">
                            <input type="text" name="guess" class="form-control" placeholder="problem_submission" [(ngModel)]="problem.guess">

                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </span>
                        </div>
                    </form>
                </template>
            </ngb-tab>

            <ngb-tab title="Hint">
                <template ngbTabContent>
                    <br/>
                    <div [innerHtml]="problem.hint"></div>
                </template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>