<link rel="stylesheet" href="/static/css/about.css">

<h1>Signup</h1>
<br/>

<form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <extended-input [label]="'Username'" [errors]="form.controls['username'].errors" [touched]="form.controls['username'].touched">
        <input class="form-control" placeholder="my_username" [formControl]="form.controls['username']">
    </extended-input>

    <extended-input [label]="'Password'" [errors]="form.controls['password'].errors" [touched]="form.controls['password'].touched">
        <input type="password" class="form-control" placeholder="my_password" [formControl]="form.controls['password']">
    </extended-input>

    <extended-input [label]="'Confirm Password'" [errors]="form.controls['confirm_password'].errors" [touched]="form.controls['confirm_password'].touched">
        <input type="password" class="form-control" placeholder="my_password" [formControl]="form.controls['confirm_password']">
    </extended-input>

    <extended-input [label]="'First Name'" [errors]="form.controls['first_name'].errors" [touched]="form.controls['first_name'].touched">
        <input class="form-control" placeholder="my_first_name" [formControl]="form.controls['first_name']">
    </extended-input>

    <extended-input [label]="'Last Name'" [errors]="form.controls['last_name'].errors" [touched]="form.controls['last_name'].touched">
        <input class="form-control" placeholder="my_last_name" [formControl]="form.controls['last_name']">
    </extended-input>

    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [formControl]="form.controls['eligible']">
            I hereby certify that I am a high-school or middle-school student living in the United States of America and am therefore eligible for prizes.
        </label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Signup!</button>
    </div>
</form>