<h1>Account</h1>

<div class="row">
    <div class="col-lg-6">
        <div *ngIf="status.team">
          <h3>Progression</h3>
        </div>

        <div *ngIf="!status.team">
          <p>You don't have a team!</p>
        </div>

        <h3>User Information</h3>

        Name: <code>{{ status.user?.first_name }} {{ status.user?.last_name }}</code><br/>
        Username: <code>{{ status.user?.username }}</code><br/>
        Eligible for prizes: <code>{{ status.user?.eligible }}</code>

        <h3>Change Password</h3>

        <form [formGroup]="change_password" (ngSubmit)="do_change_password(change_password.value)">
          <extended-input [label]="'Old Password'" [errors]="change_password.controls['old'].errors" [touched]="change_password.controls['old'].touched">
            <input type="password" class="form-control" placeholder="my_password" [formControl]="change_password.controls['old']">
          </extended-input>

          <extended-input [label]="'New Password'" [errors]="change_password.controls['password'].errors" [touched]="change_password.controls['password'].touched">
            <input type="password" class="form-control" placeholder="my_password" [formControl]="change_password.controls['password']">
          </extended-input>

          <extended-input [label]="'Confirm Password'" [errors]="change_password.controls['confirm'].errors" [touched]="change_password.controls['confirm'].touched">
            <input type="password" class="form-control" placeholder="my_password" [formControl]="change_password.controls['confirm']">
          </extended-input>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!change_password.valid">Change Password</button>
          </div>
        </form>
    </div>

    <div class="col-lg-6">
      <div *ngIf="status.team">
        <h3>Team Information</h3>

        <p>You're a member of team "{{ status.team.name }}". Your team code is <code>{{ account?.code }}</code>.
        Don't give it out to anyone you don't want joining your team.</p>

        <p>Your team has {{ status.team.members.length }} out of 5 possible members:</p>

        <ul>
            <li *ngFor="let member of status.team.members">{{ member.user.username }}</li>
        </ul>

        <p>Your shell account username and default password are below:</p>
        Username: <code>{{ account?.shell_username }}</code><br/>
        Password: <code>{{ account?.shell_password }}</code>
      </div>

      <div *ngIf="!status.team">
          <h3>Create Team</h3>

          <form [formGroup]="create" (ngSubmit)="do_create(create.value)">
              <extended-input [label]="'Team Name'" [errors]="create.controls['name'].errors" [touched]="create.controls['name'].touched">
                  <input type="text" class="form-control" placeholder="my_team_name" [formControl]="create.controls['name']">
              </extended-input>

              <extended-input [label]="'School or Affiliation'" [errors]="create.controls['school'].errors" [touched]="create.controls['school'].touched">
                  <input type="text" class="form-control" placeholder="my_school" [formControl]="create.controls['school']">
              </extended-input>

              <div class="form-group">
                  <button type="submit" class="btn btn-primary" [disabled]="!create.valid">Create!</button>
              </div>
          </form>


          <h3>Join Team</h3>

          <form [formGroup]="join" (ngSubmit)="do_join(join.value)">
              <extended-input [label]="'Code'" [errors]="join.controls['code'].errors" [touched]="join.controls['code'].touched">
                  <input type="text" class="form-control" placeholder="team_code" [formControl]="join.controls['code']">
              </extended-input>

              <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!join.valid">Join!</button>
              </div>
          </form>
      </div>
    </div>
</div>
