$alert-duration: .7s;

@import 'styles/theme.scss';

div#alerts {
  position: absolute;
  top: 0;
  right: 0;

  padding: 2em;
  width: 20em;

  z-index: 3;
}

div.alert {
  position: absolute;
  transition: opacity $alert-duration;
  opacity: 0;

  padding: 1em;
  margin-bottom: 1em;

  width: 20em;
  box-sizing: border-box;

  &.active {
    position: relative;
    opacity: 1;
  }

  @each $state, $color in $states {
    &.#{$state} {
      background-color: mix($background-color, $color);
    }
  }
}

span.alert-close {
  float: right;
  user-select: none;
  margin-left: 1em;

  &:hover {
    cursor: pointer;
  }
}
