<modal></modal>

<div id="wrapper">
  <div id="background"></div>

  <div id="main">
    <nav>
      <h2><a routerLink="/">Home</a></h2>
      <h2><a routerLink="/about">About</a></h2>
      <h2><a routerLink="/scoreboard">Scoreboard</a></h2>
      <h2><a routerLink="/problems" *ngIf="status.started">Problems</a></h2>

      <div *ngIf="status.user">
        <h2><a routerLink="/account">Account</a></h2>
        <h2><a routerLink="/logout">Logout</a></h2>
      </div>

      <div *ngIf="!status.user">
        <h2><a href="javascript:void(0)" (click)="login()">Login</a></h2>
        <h2><a routerLink="/signup">Signup</a></h2>
      </div>
    </nav>

    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
