<h1>&aring;ngstromCTF</h1>

<p>Welcome to &aring;ngstromCTF, a capture-the-flag (CTF) competition hosted and written by entirely by students at Montgomery Blair High School!
    CTF cybersecurity competitions have become an increasingly popular way for students to learn more about cybersecurity and develop and refine
    their hacking skills. These competitions are designed to <strong>educate and inspire high school students through interactive hacking challenges</strong>.</p>

<div id="clock-wrapper">
  <canvas width="1" height="1" id="clock"></canvas>
</div>

<p>The first &aring;ngstromCTF took place April 8-17, 2016. It was a phenomenal success, with almost 500 teams participating and submitting thousands of problem solutions.
    This year, we're following up with exciting new problems and prizes. One of our chief goals this year is to make our competition
    <strong>as accessible as possible</strong> to students with <strong>little to no background knowledge in hacking and cybersecurity</strong>.</p>

<p>Students will compete in <strong>teams of up to five members</strong>. Points are given for answering each question
    (entering the flag). Prizes will be awarded to the top-scoring US high-school teams.  is meant for
    <strong>both beginners and experienced CTFers</strong> and consists of questions ranging from simple to extremely
    difficult in various categories.</p>
