<h1>Scoreboard</h1>
<br/>

<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Affiliation</th>
            <th *ngIf="status.started">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ team.name }}</td>
            <td>{{ team.school }}</td>
            <td *ngIf="status.started">{{ team.score }}</td>
        </tr>
    </tbody>
</table>
