@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Orbitron);

$text-color: #ffffff;
$heading-color: darken(#7df9ff, 30);
$background-color: rgba(.2, .2, .25, .5);

body {
  font-family: 'Titillium Web';
  color: white;
  font-size: 18px;

  margin: 0;
  padding: 3em;

  overflow: hidden;
}

div#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: url('/assets/images/background.jpg');
  background-size: cover;

  filter: blur(3px);
}

div#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  padding: 2em;
  box-sizing: border-box;
  transition: filter 1s;
}

div#main {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  margin: 0;

  display: flex;
}

div#modal {
  position: absolute;
  left: 0;
  top: 80vh;

  background-color: $background-color;
  width: 60vw;
  margin: 20vh 20vw 0 20vw;
  padding: 2em;

  visibility: hidden;
  transition: top 1s;

  z-index: 1;
}

div#modal.active {
  visibility: visible;
  top: 0;
}

div#modal.active + div#wrapper {
  filter: blur(4px) brightness(50%);
}

nav, div#content {
  background-color: $background-color;
  padding: 2em;
  min-height: 100%;
  box-sizing: border-box;
}

nav {
  margin-right: 2em;
  text-align: right;
  display: block;
  flex: 0;
}

div#content {
  flex: 1;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron';
  animation: title-glow 1.5s ease-in-out infinite alternate;
  transition: all 0.5s;
  text-transform: uppercase;
}

h1 { font-size: 3.5em; }
h2 { font-size: 2em; }

nav a {
  text-decoration: none;
}

a:visited, a:active, a:hover {
  color: inherit;
}

@mixin glow($size, $color) {
  $all: ();
  @for $i from 1 through 8 {
    $all: append($all, 0 0 ($i*$i*$size) + px $color, comma);
  }
  @warn $all;
  text-shadow: $all;
}

@keyframes title-glow {
  from {
    @include glow(1.0, $heading-color);
  }
  to {
    @include glow(.7, $heading-color);
  }
}
