<h1>Problems</h1>

<span *ngIf="!status.user">Looks like you don't have an account. <a routerLink="/signup">Sign up</a> to play!</span>
<span *ngIf="status.user && !status.team">Looks like you don't have a team. <a routerLink="/account">Get a team</a> to play!</span>
<span *ngIf="status.user && status.team">See <a routerLink="/account">Account</a> for shell information.</span>

Join #angstromctf on <a href="http://webchat.freenode.net/">freenode</a> or follow us on Twitter at <a href="https://twitter.com/angstromctf">@angstromctf</a> for updates!<br/><br/>

<div class="row" *ngFor="let category of categories">
    <div class="col-xs-12 col-lg-2"><h3>{{ category }}</h3></div>
    <div class="col-xs-12 col-lg-10 row">
        <div class="problem-button col-xs-12 col-md-4 col-lg-2" *ngFor="let problem of problems[category]">
          <button (click)="show(problem)" class="stationary" [ngClass]="{ 'stable': problem.solved }">
            <span [innerHTML]="problem.title"></span>
            <br/><br/>
            {{ problem.value }}
          </button>
        </div>
    </div>
</div>
