<h1>Scoreboard</h1>
<br/>

<div class="form-check">
  <label class="form-check-label">
    <input [(ngModel)]="showIneligible" (change)="update()" class="form-check-input" type="checkbox">
    Show Ineligible Teams
  </label>
</div>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Affiliation</th>
            <th *ngIf="status.started">Points</th>
        </tr>
    </thead>

    <tbody *ngFor="let team of teams">
        <tr *ngIf="team.eligible || showIneligible">

              <th scope="row" *ngIf="team.eligible">{{ team.rank }}</th>
              <th scope="row" *ngIf="!team.eligible">&mdash;</th>
              <td><a [routerLink]="['/profile', team.id]">{{ team.name }}</a></td>
              <td>{{ team.school }}</td>
              <td *ngIf="status.started">{{ team.score }}</td>

        </tr>
    </tbody>
</table>

<br/><br/>
&mdash; means that a team is ineligible to compete.
