$alert-duration: .7s;

@import '../styles/master';

div#alerts {
  position: absolute;
  top: 0;
  right: 0;

  padding: 4rem;
  width: 20rem;

  z-index: 3;
}

div.alert {
  padding: 1rem;
  margin-bottom: 1rem;

  width: 20rem;
  box-sizing: border-box;

  @each $state, $color in $states {
    &.#{$state} {
      background-color: mix($background-color, $color);
    }
  }
}

span.alert-close {
  float: right;
  user-select: none;
  margin-left: 1rem;

  &:hover {
    cursor: pointer;
  }
}
