$alert-duration: .7s;

@import '../styles/master';

div#alerts {
  position: fixed;
  top: 4rem;
  right: 4rem;

  width: 20rem;

  @media screen and (max-width: $sm) {
    right: 50%;
    transform: translateX(50%);
  }

  z-index: 3;
}

div.alert {
  padding: 1rem;
  margin-bottom: 1rem;

  width: 20rem;
  box-sizing: border-box;

  @each $name, $color in $state {
    &.#{$name} {
      background-color: mix($background-color, $color);
    }
  }
}

span.alert-close {
  float: right;
  user-select: none;
  margin-left: 1rem;

  &:hover {
    cursor: pointer;
  }
}
