<svg *ngIf="lines.length" [attr.viewBox]="(minX-100).toString()+' '+minY.toString()+' '+(maxX-minX+200).toString()+' '+(maxY-minY+10).toString()" transform="scale(1, -1)" class="chart">
  <g *ngFor="let line of lines">
    <polyline onmouseover="evt.target.parentNode.getElementsByClassName('label')[0].setAttribute('opacity', '1');"
      onmouseout="evt.target.parentNode.getElementsByClassName('label')[0].setAttribute('opacity', '0');"
      fill="none"
      stroke="white"
      stroke-opacity="0"
      stroke-width="50"
      [attr.points]="line.points.join(' ')"
      style="cursor: pointer;"
    />
    <polyline onmouseover="evt.target.parentNode.getElementsByClassName('label')[0].setAttribute('opacity', '1');"
      onmouseout="evt.target.parentNode.getElementsByClassName('label')[0].setAttribute('opacity', '0');"
      fill="none"
      [attr.alt]="line.name"
      [attr.stroke]="line.color"
      stroke-width="10"
      [attr.points]="line.points.join(' ')"
      style="cursor: pointer;"
    />
    <circle onmouseover="evt.target.parentNode.getElementsByClassName('label')[0].setAttribute('opacity', '1');"
      onmouseout="evt.target.parentNode.getElementsByClassName('label')[0].setAttribute('opacity', '0');"
      style="cursor: pointer;"
      *ngFor="let point of line.points.slice(1)" [attr.cx]="point[0]" [attr.cy]="point[1]" r="10" [attr.fill]="line.color">
    </circle>
    <g class="label" style="transition: opacity 0.5s;" opacity="0">
      <text transform="scale(8, -8)" y="0" [attr.y]="-(maxY-minY-175)/8" font-family="Orbitron" [attr.fill]="line.color">{{ line.name }}</text>
      <text transform="scale(6, -6)" x="0" [attr.y]="-(maxY-minY-325)/6" font-family="Orbitron" fill="white">{{ line.points.slice(-1)[0][1] }}</text>
    </g>
  </g>
</svg>
