@import '../styles/master';

modal.active ~ div#wrapper {
  filter: blur(6px) brightness(30%);
  pointer-events: none;
}

div#modal {
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.9);
  width: 60vw;
  margin: 20vh 20vw 0 20vw;
  padding: 2em;

  z-index: -2;
  max-height: 60vh;
}

span#modal-close {
  font-size: 1.5em;
  float: right;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}
